/*#flag:hover{
    content: url(images/nav/flag_hover.png)
}
 
#flag:active{
   content: url(images/nav/flag_active.png)
}

#flag:focus:{
   content: url(images/nav/flag_active.png)
}
#hat:hover{
    content: url(images/nav/hat_hover.png)
}
 
#hat:active{
   content: url(images/nav/hat_active.png)
}

#hat:focus:{
   content: url(images/nav/hat_active.png)
}

#pumpkin:hover{
    content: url(images/nav/pumpkin_hover.png)
}
 
#flag:active{
   content: url(images/nav/flag_active.png)
}

#flag:focus:{
   content: url(images/nav/flag_active.png)
}

#quiz:hover{
    content: url(images/nav/quiz_hover.png)
}
 
#flag:active{
   content: url(images/nav/flag_active.png)
}

#flag:focus:{
   content: url(images/nav/flag_active.png)
}

#contacts:hover{
    content: url(images/nav/contacts_hover.png)
}
 
#flag:active{
   content: url(images/nav/flag_active.png)
}

#flag:focus:{
   content: url(images/nav/flag_active.png)
}*/